<div class="col-sm-12">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-8">
    <div class="container-fluid" style="padding-top:10%;padding-left:30%;">
      <div class="card table-responsive">

      <table class="table table-bordered ">
        <tbody >
          <tr>
            <td colspan="4">
              <div class="input-group input-group-sm col-sm-12 m-0 p-0">
                <div class="col-sm-12 form-control text-lg-right" type="text">{{input}}</div>
              </div>
              <!-- //Displays the Results -->
              <div class="input-group input-group-sm col-sm-12 m-0 p-0">
                <div class="form-control text-sm-right" type="text">{{result}}</div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <span>
                <button class="btn btn-info col-sm-6" type="button" (click)="allClear()">C</button>
                <button class="btn btn-warning col-sm-3" type="button" (click)="clear()">x</button>
                <button class="btn btn-secondary col-sm-3" type="button" (click)="pressOperator('/')">/</button>
              </span>
           </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-lg btn-outline-secondary" type="button" (click)="pressNum('7')">7</button>
            </td>
            <td>
              <button class="btn btn-lg btn-outline-secondary" type="button" (click)="pressNum('8')">8</button>
            </td>
            <td>
              <button class="btn btn-lg btn-outline-secondary" type="button" (click)="pressNum('9')">9</button>
            </td>
            <td>
            <button class="btn btn-lg btn-secondary " type="button" (click)="pressOperator('*')">X</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-lg btn-outline-secondary " type="button" (click)="pressNum('7')">7</button>
            </td>
            <td>
              <button class="btn btn-lg btn-outline-secondary " type="button" (click)="pressNum('8')">8</button>
            </td>
            <td>
              <button class="btn btn-lg btn-outline-secondary " type="button" (click)="pressNum('9')">9</button>
            </td>
            <td>
              <button class="btn btn-lg btn-secondary " type="button" (click)="pressOperator('-')">-</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-lg btn-outline-secondary " type="button" (click)="pressNum('1')">1</button>
            </td>
            <td>
              <button class="btn btn-lg btn-outline-secondary" type="button" (click)="pressNum('2')">2</button>
            </td>
            <td>
              <button class="btn btn-lg btn-outline-secondary " type="button" (click)="pressNum('3')">3</button>
            </td>
            <td>
            <button class="btn btn-lg btn-secondary" type="button" (click)="pressOperator('+')">+</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-lg btn-outline-secondary" type="button" (click)="pressNum('.')">.</button>
            </td>
            <td>
              <button class="btn btn-lg btn-outline-secondary" type="button" (click)="pressNum('0')">0</button>
            </td>
            <td style="padding-right:80%;">
              <button class="btn btn-lg btn-success" type="button" (click)="getAnswer()">=</button>
            </td>

          </tr>
        </tbody>
      </table>
      </div>
      </div>
  </div>
</div>




<router-outlet></router-outlet>
